.prayLi{overflow: hidden;
    .prayHead{text-align: center;padding: 7px;color: white;font-size: 16px;}
    .prayTitle{
        display: flex;padding-bottom:5px;
        .imgBlock{flex: 1 1;border-radius: 9px;overflow: hidden;border: 1px solid #eee;}
        .titBlock{flex:3 1;padding:0 5px;}
        .spand{font-size: 14px;display: inline-block;margin-right: 5px;}
    }
}