.am-notice-bar-content{
    margin-left: 15px!important;
}
.am-notice-bar {
    background-color: #eee;
    color: #ff6201;
    box-shadow: 2px 2px 2px #bbb;

    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    white-space:nowrap;
}
.am-notice-board{
    overflow-x: auto;
    overflow-y: hidden;
}