.am-list-extra{touch-action: none;}
.radiobutton{margin:0 10px 5px 0}
/* .area{position: absolute;
    left: 0;
    right: 0;
    top: 81px;
    bottom: 44px;
    overflow: auto;} */
.def-listitem.am-list-item .am-list-line .am-list-extra{flex-basis: 60%;}
.stick-footer{border-top: 1px solid #aaa;z-index: 10;position: fixed;bottom: 0;width: 100%;display: flex;
    height: 44px;
    align-items: stretch;
    line-height: 44px;
    text-align: center;}
.payBtn{background: red;color: white;font-size: 17px;font-weight: bold;}
.payBtn:active{background: #de0202}



.am-modal-body>div{
    font-size: initial;
    color: initial;
}
.slide-right-enter,
.slide-right-appear {
    transform: translate(100% , 0);
}
.slide-right-enter,
.slide-right-appear,
.slide-right-leave {
          animation-duration: .2s;
          animation-fill-mode: both;
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-play-state: paused;
}
.slide-right-enter.slide-right-enter-active,
.slide-right-appear.slide-right-appear-active {
          animation-name: slideRightIn;
          animation-play-state: running;
}
.slide-right-leave.slide-right-leave-active {
          animation-name: slideRightOut;
          animation-play-state: running;
}
@keyframes slideRightIn {
  0% {
            transform: translate(100% , 0);
  }
  100% {
            transform: translate(0, 0);
  }
}
@keyframes slideRightOut {
  0% {
            transform: translate(0, 0);
  }
  100% {
            transform: translate(100% , 0);
  }
}
